<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="API_GUI.Properties.LoginData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="API_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <API_GUI.Properties.LoginData>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLogged" serializeAs="String">
                <value>False</value>
            </setting>
        </API_GUI.Properties.LoginData>
        <API_GUI.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
        </API_GUI.Properties.Settings>
    </userSettings>
</configuration>